@keyframes drift {
    0% {
      transform: translate(0, 0) rotate(-10deg);
    }
    30% {
      transform: translate(5px, 0) rotate(-15deg);
    }
    60% {
      transform: translate(5px, 5px) rotate(-10deg);
    }
    100% {
      transform: translate(0, 0) rotate(-10deg);
    }
  }

  @keyframes drift2 {
    0% {
      transform: translate(0, 0) rotate(10deg);
    }
    30% {
      transform: translate(-5px, 0) rotate(15deg);
    }
    60% {
      transform: translate(-5px, -7px) rotate(10deg);
    }
    100% {
      transform: translate(0, 0) rotate(10deg);
    }
  }

  @keyframes drift3 {
    0% {
      transform: translate(0, 0) rotate(5deg);
    }
    30% {
      transform: translate(-7px, 0) rotate(10deg);
    }
    60% {
      transform: translate(-7px, -2px) rotate(10deg);
    }
    100% {
      transform: translate(0, 0) rotate(5deg);
    }
  }


  /* Apply the drift animation directly to the images */
  .drift {
    animation: drift 5s ease-in-out infinite;
  }

  .drift2 {
    animation: drift2 8s ease-in-out infinite;
  }

  .drift3 {
    animation: drift3 5s ease-in-out infinite;
  }
